@font-face {
    font-family: 'ApfelGrotezk';
    src: url('/fonts/ApfelGrotezk-Fett.woff2') format('woff2'),
            url('/fonts/ApfelGrotezk-Fett.woff') format('woff');
    font-weight: 400 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 600;
    font-style: normal;
  }
  
  body, html {
    font-family: 'Literata';
  }
  
  h1, h2, h3, h4, h5, h6, button {
    font-family: 'ApfelGrotezk';
  } 